<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Furniture Store & Unique Home Decor Online</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://kit.fontawesome.com/0e3d6c2c8d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="landingImages/cbicon.ico">


    <style>

#adContainerSortButton{
    background-color: transparent;
    border:none;
    margin-left:25px;
    text-transform: uppercase;
}
#adDropdownList{
    margin:10px 0 0 -10px;
    /* display: none; */
    z-index:15;
    background-color:white;
    width:200px;
}

li{
    list-style: none;
    font-size: 11px;
}
/* Hide the browser's default radio button */
.li input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  ul li:hover .check {
    border: 5px solid #FFFFFF;
  }
  
  ul li .check::before {
    display: block;
    position: absolute;
      content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;

  }
  
  input[type=radio]:checked ~ .check {
   font-weight:bold;
  }
  
  input[type=radio]:checked ~ .check::before{
    font-weight:bold;
  }
  
  input[type=radio]:checked ~ label{
    font-weight:bold;
  }
  input[type=radio]:checked ~ .check::before{
    font-weight:bold;
  }



/* additional page */
#additionalPageDiv{
    display: flex;
    position:absolute;
    justify-content: right;
    width:100%;
    font-family: "Lineto Brown Sub","Lineto Brown Light Sub",Verdana,sans-serif;
    text-transform: uppercase;
    color:#222222;
    /* display: none; */
}
#AdditionalPage{
    background-color: white;
    z-index:5;
    position:fixed;
}
#AdditionalPage hr{
    height:1px;
    background-color: black;
    margin-top:30px;
}
#AdditionalPage{
    width:424px;
    border:1px solid blue;
}
#closeAdditionalPage{
    height:30px;
    width:30px;
  margin-left:90%;
}
#heading{
    text-align: center;
}
#adFilterList{
    width:324px;
    min-height:100px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.textOnLeft{
    justify-self:flex-start
}
.listItems{
 
    /* background-color:green; */
    width:100%;
    padding:15px 0;
    border-top:1px solid black;
}
.checkboxDiv{
    display: flex;
    }
.checkboxDiv input{
        width:30px;
 }
  span{
    color:grey;
    font-size:12px;
} 

#adDropdownListcategory,#adDropdownListcolor,#adDropdownListmaterial,#adDropdownListprice,#adDropdownListtype
,#adDropdownListdesign,#adDropdownListFabric{
    display:none;
}
#additionalButton{
    display: flex;
    width:360px;
    margin:45px 0;
    margin-left:40px;
}
#additionalButton button{
    border:none;
    padding:15px 0;
    width:48%;
}
#clearAll{
    background-color: rgb(204, 202, 202);
    margin-right: 4%;
}
#apply{
    background-color: black;
    color:white;
}
.textOnLeft{
    padding-top:16px;
}
#categorySort{
    width:100%;
    background-color: orange;
}
#adDropdownList{
    display: none;
}
#adContainerSortButton{
    padding:15px 0;
    margin-left:0;
    width:120%;
}
#additionalPageDiv .checkboxDiv{
    text-transform: lowercase;
}

    </style>
</head>
<body>
    

    <div id="additionalPageDiv">
        <div id="AdditionalPage">
            <img  id="closeAdditionalPage" src="../landingImages/closeButton.png" alt="">
            <div id="heading">
                <p class="adText">filter & sort</p>
            </div>
       
            <div id="adFilterList">
    
                <div class="listItems"  id="addSort" style="padding:0">
                    <div id="firstRow">
                    <div id="sort" >
                        <div id="adContainerSortButton" class="drop-down-button button-transparent" type="button" data-test="sort">
                            sort by price <span>Most Relevant</span>
                        </div>
                        <ul id="adDropdownList" role="listbox" aria-labelledby="top-container-sortBy" data-test="sort-options">
                            
                           <div class="check">
    
                           <li tabindex="-1" role="option" aria-selected="false" class="sort-option  current" data-test="sort-option">
                                <input type="radio" id="adsequence" class="a11y-radio" name="filters" value="Most Relevant" >
                                <label for="adsequence0" class="a11y-radio-label">Most Relevant</label></li>
                            </div>
    
                           <div class="check">
    
                            <li tabindex="-1" role="option" aria-selected="false" class="sort-option  " data-test="sort-option">
                                <input type="radio" id="adpriceLowToHigh1" class="a11y-radio" name="filters" value="price, Low To High" >
                                <label for="adpriceLowToHigh1" class="a11y-radio-label">Price, low to high</label></li>
                            </div>
    
                           <div class="check">
    
                            <li tabindex="-1" role="option" aria-selected="false" class="sort-option  " data-test="sort-option">
                                <input type="radio" id="adpriceHighToLow2" class="a11y-radio" name="filters" value="price, High To Low" >
                                <label for="adpriceHighToLow2" class="a11y-radio-label">Price, high to low</label></li>
                            </div>
    
                           <div class="check">
    
                            <li tabindex="-1" role="option" aria-selected="false" class="sort-option  " data-test="sort-option">
                                <input type="radio" id="adnewestFirst3" class="a11y-radio" name="filters" value="new" >
                                <label for="adnewestFirst3" class="a11y-radio-label">New</label></li></ul>
                            </div>
                   </div>
                </div>
    
                <div class="listItems" id="categoryButton">category</div>
               <div id="adDropdownListcategory" class="dropDownDivs">
                <div class="checkboxDiv">
                    <input type="checkbox" name="Remember" id="Decor" value="Decor and Mirrors">
                    <span style="margin:1px 0 0 5px;">Decor and Mirrors  </span>
                </div>
                <div class="checkboxDiv">
                    <input type="checkbox" name="Remember" id="Furniture" value="Furniture">
                    <span style="margin:1px 0 0 5px;">Furniture</span>
                </div>
                <div class="checkboxDiv">
                    <input type="checkbox" name="Remember" id="Bedding" value="Bedding and Bath">
                    <span style="margin:1px 0 0 5px;">Bedding and Bath</span>
                </div>
                <div class="checkboxDiv">
                    <input type="checkbox" name="Remember" id="Kitchen" value="Kitchen and Dining">
                    <span style="margin:1px 0 0 5px;">Kitchen and Dining</span>
                </div>
                <div class="checkboxDiv">
                    <input type="checkbox" name="Remember" id="Holiday" value="Holiday">
                    <span style="margin:1px 0 0 5px;">Holiday </span>
                </div>
            </div>
    
    
    
                <div class="listItems" id="categoryColor">color</div>
                <div id="adDropdownListcolor" class="dropDownDivs">
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                </div>
                <div class="listItems" id="categoryMaterial">material</div>
                <div id="adDropdownListmaterial" class="dropDownDivs">
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                </div>
                <div class="listItems" id="categoryPrice">price</div>
                <div id="adDropdownListprice" class="dropDownDivs">
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                </div>
                <div class="listItems" id="categoryType">type</div>
                <div id="adDropdownListtype" class="dropDownDivs">
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                </div>
                <div class="listItems" id="categoryDesign">designer</div>
                <div id="adDropdownListdesign" class="dropDownDivs">
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                </div>
                <div class="listItems" id="categoryFabric">fabric</div>
                <div id="adDropdownListFabric" class="dropDownDivs">
                    <div class="checkboxDivfabric">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" name="Remember" id="remember" >
                        <span style="margin:1px 0 0 5px;">Remember me</span>
                    </div>
                </div>
                   
                </div>
            <hr>
            <div id="additionalButton">
                <button id="clearAll">
                   clear all
                </button>
                <button id="apply">
                  apply
                </button>
            </div>
            
            </div>
        </div>

</body>
</html>

<script>
 
 let adselectedItem;
let adbuttonContent = document.getElementById("adContainerSortButton");

adbuttonContent.addEventListener("click",function(){
    document.querySelector("ul").style.display="block";
})

 document.getElementById("adsequence").addEventListener("click",function(){
    adselectedItem= this.value;
       adbuttonContent.innerHTML =`sort by price <span>${adselectedItem}</span>` ;
       sortByPrice(adselectedItem)
       document.querySelector("ul").style.display="none";
 });

 document.getElementById("adpriceLowToHigh1").addEventListener("click",function(){
    adselectedItem= this.value;
    adbuttonContent.innerHTML =`sort by price <span>${adselectedItem}</span>`;
       sortByPrice(adselectedItem)
       document.querySelector("ul").style.display="none";
});

document.getElementById("adpriceHighToLow2").addEventListener("click",function(){
    adselectedItem= this.value;
    adbuttonContent.innerHTML =`sort by price <span>${adselectedItem}</span>` ;
     sortByPrice(adselectedItem)
     document.querySelector("ul").style.display="none";
});

document.getElementById("adnewestFirst3").addEventListener("click",function(){
    adselectedItem= this.value;
    adbuttonContent.innerHTML =`sort by price <span>${adselectedItem}</span>` ;
   sortByPrice(adselectedItem)
   document.querySelector("ul").style.display="none";
});

function sortByPrice(){

}

// function sortByPrice(selectedOption){

//    if(selectedOption == "price, Low To High"){
//      productData = productData.sort(function (a,b){
//          if(a.price > b.price) return 1;
//          if(a.price < b.price) return -1;
//          return 0;
//      })
//    }
  
//    if(selectedOption == "price, High To Low"){
//     productData = productData.sort(function (a,b){
//         if(a.price > b.price) return -1;
//         if(a.price < b.price) return 1;
//         return 0;
//     })
//   }
  
//   if(selectedOption == "new"){
//     productData = JSON.parse(localStorage.getItem("cbProductData"))
//     productData = productData.reverse();
//   }
  
  
//   if(selectedOption == "Most Relevant"){
//     let productNormal = JSON.parse(localStorage.getItem("cbProductData"))
//     productData = productNormal;
//   }
  
//   displayItem(productData);
//   }
  

//additional page

let adhidenSort = true;
document.getElementById("adContainerSortButton").addEventListener("click",()=>{
  if(adhidenSort){
       document.querySelector("ul").style.display="block";
       adhidenSort =false;
    }
  else{
    document.querySelector("ul").style.display="none";
       adhidenSort =true;
  }
})


let adhidenCategory = true;
document.getElementById("categoryButton").addEventListener("click",()=>{
  if(adhidenCategory){
       document.getElementById("adDropdownListcategory").style.display="block";
       adhidenCategory =false;
    }
  else{
       document.getElementById("adDropdownListcategory").style.display="none";
       adhidenCategory =true;
  }
})

let adhidenColor = true;
document.getElementById("categoryColor").addEventListener("click",()=>{
    if(adhidenColor){
        document.getElementById("adDropdownListcolor").style.display="block";
        adhidenColor = false;
    }
    else{
        document.getElementById("adDropdownListcolor").style.display="none";
        adhidenColor = true;
    }
 })


 let adhidenMaterial = true;
 document.getElementById("categoryMaterial").addEventListener("click",()=>{
     if(adhidenMaterial){
        document.getElementById("adDropdownListmaterial").style.display="block";
        adhidenMaterial = false;
     }
     else{
        document.getElementById("adDropdownListmaterial").style.display="none";
        adhidenMaterial = true;
     }
    
 
 })


 let adhidenPrice = true;
 document.getElementById("categoryPrice").addEventListener("click",()=>{
     if(adhidenPrice){
        document.getElementById("adDropdownListprice").style.display="block";
        adhidenPrice = false;
     }
     else{
        document.getElementById("adDropdownListprice").style.display="none";
        adhidenPrice = true;
     }
 
 
 })


 let adhidenType = true;
 document.getElementById("categoryType").addEventListener("click",()=>{
     if(adhidenType){
        document.getElementById("adDropdownListtype").style.display="block";
        adhidenType = false;
     }
 else{
    document.getElementById("adDropdownListtype").style.display="none";
    adhidenType = true;
 }
 
 })


 let adhidenDesign = true;
 document.getElementById("categoryDesign").addEventListener("click",()=>{
     if(adhidenDesign){
        document.getElementById("adDropdownListdesign").style.display="block";
        adhidenDesign = false;
     }
     else{
        document.getElementById("adDropdownListdesign").style.display="none";
        adhidenDesign = true;
     }
    
 
 })


 let adhidenFabric = true;
 document.getElementById("categoryFabric").addEventListener("click",()=>{
     if(adhidenFabric){
        document.getElementById("adDropdownListFabric").style.display="block";
        adhidenFabric = false;
     }
else{
    document.getElementById("adDropdownListFabric").style.display="none";
    adhidenFabric = true;
}
 })

 
//  document.getElementById("filterButton").addEventListener("click",function(){
//      document.getElementById("additionalPageDiv").style.display="flex";
//   document.getElementById("productPageContainer").style.opacity="0.5";

//  });

 document.getElementById("closeAdditionalPage").addEventListener("click",function(){
    document.getElementById("additionalPageDiv").style.display="none";
    document.getElementById("productPageContainer").style.opacity="1";
 });
 


 //filter section

 let filterItem;
 document.getElementById("Decor").addEventListener("click",function(){
     filterItem = this.value;
     filterProductsCategory(filterItem)
 })
 document.getElementById("Furniture").addEventListener("click",function(){
     filterItem = this.value;
     filterProductsCategory(filterItem)
 })
 document.getElementById("Bedding").addEventListener("click",function(){
     filterItem = this.value;
     filterProductsCategory(filterItem)
 })
 document.getElementById("Kitchen").addEventListener("click",function(){
     filterItem = this.value;
     filterProductsCategory(filterItem)
 })
 document.getElementById("Holiday").addEventListener("click",function(){
     filterItem = this;
     filterProductsCategory(filterItem)
 })

 function  filterProductsCategory(filterItem){
     
 }











</script>














//     products.forEach((element,index) => {

    //         //create productContainer 
    //     let cartProductDetail = document.createElement("div");
    //     cartProductDetail.setAttribute("id","cartProductDetail");
       
    //     // product top section
    //     let cartProductTopSection = document.createElement("div");
    //     cartProductTopSection.setAttribute("id","cartProductTopSection");
       
    //     // product top left
    //     let topLeft = document.createElement("div");
    //     topLeft.setAttribute("id","topLeft");
    //     let productName = document.createElement("h5");
    //     productName.setAttribute("id","productName");
    //     productName.textContent=element.name;
     
    //     let sku = document.createElement("p");
    //     sku.setAttribute("id","sku");
    //     let skuRandom = Math.floor(Math.random()*10000)+10000;
    //     sku.textContent=`sku${skuRandom}`
    //     topLeft.append(productName,sku);
    
    
    
        
    
    //     //product top middle
    //     let topMiddle = document.createElement("div");
    //     topMiddle.setAttribute("id","topMiddle");
    //     let quantity = document.createElement("input");
    //     quantity.setAttribute("id","quantity");
    //     quantity.value=1;
    //     let update = document.createElement("button");
    //     update.setAttribute("id","update");
    //     update.textContent="update"
    //     topMiddle.append(quantity,update);
    //     console.log(quantity,update)
    
        // //product top right
        // let topRight = document.createElement("div");
        // topRight.setAttribute("id","topRight");
        // let price = document.createElement("price");
        // price.setAttribute("id","price");
        // price.textContent = element.price;
        // topRight.append(price);
        // console.log(price);
    
        // cartProductTopSection.append(topLeft,topMiddle,topRight);
    
    
    //     //product Bottom section
    //     let cartProductBottomSection = document.createElement("div");
    //     cartProductBottomSection.setAttribute("id",);
    
    //     //product bottom left
    //     let bottomLeft = document.createElement("div");
    //     bottomLeft.setAttribute("id","bottomLeft");
    //     let productImage = document.createElement("img");
    //     productImage.setAttribute("id","productImage");
    //     productImage.src = element.img1;
    //     bottomLeft.append(productImage);
    
    //     // //product bottom middle 
    //     // let bottomMiddle = document.createElement("div");
    //     // bottomMiddle.setAttribute("id","bottomMiddle");
    //     // bottomMiddle = cartMiddle();
        
    //     // // product bottom right
    //     // let bottomRight = document.createElement("div");
    //     // bottomRight.setAttribute("id","bottomRight");
    //     // bottomRight = cartRight();
    
    
    //     cartProductBottomSection.append(bottomLeft);
    //   document.body.append(cartProductTopSection)
    //     cartProductDetail.append(cartProductTopSection,cartProductBottomSection);
    
    //     cartProductContainer.append(cartProductDetail);
        
    //     });